<nav>
    <div class="inner-nav">
    <div class="logo">LOGO</div>
    <ul>
        <li>Link 1</li>
        <li>Link 2</li>
    </ul>
    <div class="account"><a href="/login" class="login">login</a></div>
    </div>
</nav>