:root {
	--blue: #2819ff;
	--lightblue: #aae6ff;
	--pink: #fa1996;
	--lightpink: #ffafe1;
	--purple: #870aa0;
	--lightpurple: #cd9bd7;
	--lightsky: #aae6ff;
	--gray: #e1e1e1;
}

* {
	margin: 0;
}

body {
	font-family: "Arial";
}

header {
	background-color: #e1e1e1;
	position: fixed;

	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
}

header .logo {
	flex: 2;
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

header .logo img {
	width: 150px;
	margin: 5px;
	height: auto;
}

header .language {
	flex: 1;
	padding-right: 20px;
	justify-content: flex-end;
	display: flex;
}

header nav {
	flex: 1;
	justify-content: flex-end;
	display: flex;
}

header nav a {
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
}

header nav li {
	cursor: pointer;
}

.subnav {
	visibility: hidden;
	display: none;
}

header .hide-nav {
	border: none;
	background: none;
	/* this */
	display: none;
	position: fixed;
	left: 0;
}

main > * {
	padding: 10px;
}

main .hero {
	padding: 0;
}

.hero img {
	width: 100%;
}

.option-list {
	list-style: none;
	display: flex;
	margin-inline-start: 0;
	padding-inline-start: 0;
	margin-block-end: 0;
	margin: 10px 0;
}

.option-list .option {
	background-color: var(--blue);
	color: white;
	padding: 5px;
	margin: 0 0.6rem;
	flex: 1;
	border-radius: 5px;
}

.option-list .option:hover {
	cursor: pointer;
}

.option > :nth-child(odd) {
	padding: 5px;
}

.option > :nth-child(even) {
	text-align: right;
	padding: 5px;
	padding-top: 20px;
}

/* OPTIONS > clicked */

.pay-wrapper .hide {
	display: none;
}

.pay {
	display: grid;
	margin: 10px;
}
#option-1 {
	grid-template-areas:
		"box rightTriangle"
		"content content";
	grid-template-columns: 25% 75%;
}

#option-2 {
	/* grid-template-areas: "triangle box triangle"
     "content content content"; */
	grid-template-areas:
		"leftTriangle box rightTriangle"
		"content content content";
	grid-template-columns: 40% 20% 40%;
}

#option-3 {
	/* grid-template-areas: "triangle box triangle"
     "content content content"; */

	grid-template-areas:
		"leftTriangle box"
		"content content";
	grid-template-columns: 75% 25%;
}
.pay .box {
	width: 100%;
	height: 100%;
	background-color: var(--gray);
}
.pay .triangle {
	width: 100%;
	height: 50px;
	background-color: var(--gray);
}

.pay .left {
	border-radius: 100% 0 0 0;
	grid-area: leftTriangle;
}

.pay .right {
	border-radius: 0 100% 0 0;
	grid-area: rightTriangle;
}

.pay .content {
	grid-area: content;
	background-color: var(--gray);
	padding: 10px;
	display: block;
}

.pay .content button:hover {
	cursor: pointer;
}

.pay .content h3 {
	text-align: center;
	padding-bottom: 10px;
}

.pay .content ul li {
	padding: 6px;
}

.pay .content p {
	text-align: right;
	padding: 15px;
}

.pay .content button {
	padding: 10px 15px;
	display: block;
	margin: auto;
	border: none;
	background-color: var(--pink);

	color: white;
}

.usp {
	background-color: var(--gray);
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
}

.usp h2 {
	text-align: center;
	padding: 10px;
}

.reviews {
	padding: 20px;
}

.review {
	display: flex;
	align-items: center;
}

.review:nth-child(even) {
	flex-direction: row-reverse;
}

.review .img-container img {
	width: 90px;
	padding: 5px;
}

.review .text-wrapper {
	background-color: var(--lightblue);
	padding: 10px;
	border-radius: 5px;
}

.review .text-wrapper .author {
	text-align: right;
	padding: 5px;
}

.step {
	display: flex;
}

.step .img-container {
	flex: 1;
	padding: 20px;
}

.step .text-container {
	flex: 1;
	padding: 10px;
	text-align: left;
	display: flex;
	align-items: center;
}

.step:nth-child(even) {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.video {
	display: flex;
	justify-content: center;
}

.video iframe {
	width: 450px;
	height: 250px;
}

.back-to-top {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.back-to-top button {
	background-color: var(--pink);
	border: none;
	padding: 10px 15px;
	color: white;
}

.back-to-top button:hover {
	cursor: pointer;
	background-color: var(--purple);
}

footer .subscribe {
	background-color: var(--lightsky);
	text-align: center;
}

footer .subscribe h3 {
	padding: 10px;
}

footer .subscribe div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

footer input {
	border: none;
	margin: 0;
	padding: 10px;
}

footer .subscribe input[type="email"] {
	width: 200px;
}

footer .subscribe input[type="submit"] {
	background-color: var(--pink);
	margin-left: 10px;
	color: white;
}

footer .links {
	background-color: var(--blue);
	color: white;
	padding: 20px;
}

footer .links ul {
	list-style: none;
}

footer .links ul li {
	padding-top: 15px;
}

footer .links ul li p {
	font-size: 1.4em;
	display: inline;
}

footer .links ul li a {
	color: white;
	text-decoration: none;
}
footer .links ul li .fa-greater-than {
	padding-left: 10px;
	font-size: 1em;
}

footer .social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

footer .social-media li {
	display: inline;
	padding: 10px;
	margin: 0 20px;
}

footer .social-media li {
	font-size: 60px;
}

/* MEDIA QUERIES FOR SCREEN SIZE */

@media only screen and (max-width: 500px) {
	.options {
		padding: 2px;
		font-size: 14px;
	}
	.option-list {
		margin: 5px 0;
	}

	.option-list .option {
		margin: 0 0.3rem;
	}
}

@media only screen and (max-width: 1000px) {
	main .hero {
		padding-top: 85px;
	}
	header .hide-nav img {
		width: 35px;
		height: 35px;
		padding: 10px;
	}

	header .logo {
		margin-top: 10px;
	}

	.navbar .link-container .link {
		text-decoration: none;
		position: relative;
		display: block;
		padding: 20px 20px;
	}

	.navbar .link-container .link i {
		position: absolute;
		right: 0;
	}

	header .hamburger-container i {
		font-size: 20px;
		padding-right: 20px;
	}

	.navbar-container {
		position: fixed;
		/* this */
		display: none;
		top: 78px;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		/* filter: blur(10px); */
	}

	.navbar {
		display: flex;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		width: 70%;
		padding: 10px;
		font-size: 1.3em;
		background-color: white;
		list-style: none;
		flex-direction: column;
	}

	.link-container {
		margin: 10px;
		color: var(--blue);
	}

	.subnav {
		font-size: 0.9em;
	}

	.subnav a {
		padding: 2px;
		text-align: left;
	}

	.link-container ul .link {
		color: var(--blue);
	}

	/* HIDE STUFF */
	header #hide-logo {
		visibility: hidden;
	}

	header #show-hide-nav {
		display: block;
	}

	#show-navbar-container {
		display: block;
	}

	/* header .logo {
    visibility: hidden;
} */
	header .navbar .show .subnav {
		visibility: visible;
		display: block;
	}
}

@media only screen and (min-width: 1000px) {
	main {
		width: 75%;
		margin: auto;
	}

	.hero {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.hero > img {
		padding-top: 75px;
		width: 80%;
	}

	header nav {
		position: fixed;
		top: 70px;
		left: 0;
		display: inline-block;
		width: 100%;
	}

	.navbar {
		display: flex;
		z-index: 10;
		padding: 20px;
		font-size: 1.4em;
		background-color: white;
		list-style: none;
		flex-direction: row;
	}

	.navbar > * {
		padding: 10px;
		margin: 0 10px;
	}

	.hamburger-container {
		display: none;
	}

	/* NAV */

	.link-container {
		color: var(--blue);
		position: relative;
	}
	.subnav {
		position: absolute;
		transition: all 0.5s ease;
		background-color: var(--purple);
		color: white;
		padding: 1rem;
		width: 250px;

		list-style: none;
	}

	.subnav li {
		margin-top: 1rem;
	}
	.subnav a {
		color: white;
		text-decoration: none;
		padding: 0.5rem;
	}

	.subnav:hover,
	.link-container:hover > .subnav {
		visibility: visible;
		display: block;
	}
}

@media only screen and (min-width: 1200px) {
	main > * {
		width: 60%;
		margin: auto;
	}

	.video iframe {
		width: 500px;
		height: 300px;
	}
}

@media only screen and (min-width: 1500px) {
	main > * {
		width: 50%;
		margin: auto;
	}
	.video iframe {
		width: 700px;
		height: 400px;
	}
}
