<%- include('partials/header') %>
<form action="/api/login" method="post">
    <label for="id">Enter your id</label><br>
    <input type="number" name="id" placeholder="Please enter your id (1-5)" id="id"><br>
    <input type="submit" value="Login">

</form>
<%- include('partials/footer') %>