body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

header {
    text-align: center;
    background-color: rgb(216, 216, 216);
    padding: 0.5rem;
}

main {
    width: 60rem;
    margin: auto;
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
}

/* The 3 articles */

.articleLanguage {
    display: flex;
    width: 100%;
}

main .articleLanguage:nth-child(even) {
    flex-direction: row-reverse;
}

/* The "div" inside of these articles, eg the text and image containers */
.articleLanguage > div {
    flex: 1;
    padding: 2rem;
    overflow: hidden;
}

/* The images */
.articleLanguage > .articleImage {
    display: flex;
    align-items: center;
}

.articleLanguage > .articleImage img {
    width: 100%;
}

/* Basic for mobile */
@media only screen and (max-width: 61rem) {
    main {
        width: 100%;
    }

    .articleLanguage > div {
        padding: 1rem;
    }
}
