nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    padding: 1rem;
}

.inner-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
}

nav .inner-nav > * {
    flex: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    padding: 1em;
    list-style: none;
}

nav .account {
    justify-content: flex-end;
    display: flex;
}
